{% extends "base.html.twig" %}

{% block title %} liste des personnes 
{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}
        {% if not personnes.items is same as([]) %}
        <h1>Liste des personnes</h1>

        <a href="{{ path('personne.new') }}" class="btn btn-primary">
				Ajouter une personne
		</a>
        <a href="{{ path('recherche') }}" class="btn btn-primary">
				Rechercher personne(s)
		</a>
        {# total count #}
        <div class="count mt-4">
            <h4>Il ya {{ personnes.getTotalItemCount }}</small> personnes au total.</h4>
        </div>

        <table class="table table-hover mt-4">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">NOM</th>
            <th scope="col">PRENOM </th>
            <th scope="col">DATE NAISSANCE</th>
            <th scope="col">EMAIL</th>
            <th scope="col">Edition</th>
			<th scope="col">Suppresion</th>
            </tr>
        </thead>
        <tbody>
            {% for personne in personnes  %}
            
            <tr class="table-primary">
                <th scope="row">{{ personne.id}}</th>
                <td>{{ personne.nom}}</td>
                <td>{{ personne.prenom}}</td>
                <td>{{ personne.datenaissance|date('d/m/Y')}}</td>
                <td>{{ personne.email}}</td>
                <td>
					<a href="{{ path('personne.edit', { id: personne.id }) }}" class="btn btn-info">Modifier</a>
				</td>
				<td>
					<a href="{{ path('personne.delete', { id: personne.id }) }}" class="btn btn-warning">Supprimer</a>
				</td>
            </tr>   
        {% endfor  %} 
           
        </tbody>
        </table>
        {# display navigation #}
        <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(personnes) }}
        </div>
        {% else %}
            <h4>Aucune personne dans la base de données</h4>
        {% endif%}
    </div>


{% endblock %}
